.idea/
.vscode/
src/build/
playground/
deployment/
values/
src/dist/
*.egg/
*.egg-info/
*.pyc
venv/
docs/_build
.DS_Store
staging.environment.env
*.env
.run
dist/**/*
generated_values*.yaml
.isort.cfg
skaffold.dev.yaml
tests/last_used_tag.txt
pytest.ini
gen-config-test

**/.claude/settings.local.json
