apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-forwarder
spec:
  selector:
    matchLabels:
      app: {{ .Release.Name }}-forwarder
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-forwarder
    spec:
      serviceAccountName: {{ .Release.Name }}-forwarder-service-account
      containers:
      - name: kubewatch
        # this is a custom version of kubewatch built from https://github.com/aantn/kubewatch
        image: {{ .Values.kubewatch.image }}
        imagePullPolicy: Always
        env:
          - name: KW_CONFIG
            value: /config
          - name: ENABLE_PPROF
            value: {{ .Values.kubewatch.pprof | quote }}
        volumeMounts:
          - name: robusta-kubewatch-config
            mountPath: /config
        resources:
          requests:
            memory: {{ .Values.kubewatch.resources.requests.memory | quote }}
          limits:
            memory: {{ .Values.kubewatch.resources.requests.memory | quote }}
            {{ if .Values.kubewatch.resources.limits.cpu }}cpu: {{ .Values.kubewatch.resources.limits.cpu | quote }}{{ end }}
      volumes:
        - name:  robusta-kubewatch-config
          configMap:
            name: {{ .Release.Name }}-kubewatch-config
