apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-kubewatch-config
  namespace: {{ .Release.Namespace }}
data:
  .kubewatch.yaml: |-
    handler:
      cloudevent:
        url: "http://{{ .Release.Name }}-runner:80/api/handle"
{{ toYaml .Values.kubewatch.config | indent 4 }}
