Generate a Config
-----------------------------------

Robusta needs settings to work. For example, if you use Slack then Robusta needs a Slack API key. These settings are configured as Helm values.

Choose a configuration method below:

.. tab-set::

    .. tab-item:: Web Installation (recommended)
        :name: web-installation-tab

        Create the configuration by signing up `for a free Robusta UI account ↗ <https://platform.robusta.dev/signup?utm_source=docs&utm_content=install-page>`_

        .. note::

            With the UI, you can easily configure integrations like Slack and Teams, while also unlocking exclusive features such as timeline of changes and alerts, built-in AI root cause analysis, and more.


    .. tab-item:: pip
        :name: pip-cli-tab

        Use the ``robusta`` cli tool to generate the Helm values.

        .. details:: Requirements and Troubleshooting

            * Python 3.7 or higher is required.
            * Use ``pip3`` on systems with both Python 2 and Python 3.
            * A ``command not found: robusta`` error means :ref:`Python's script directory is not your PATH.<Common Errors>`.

        .. code-block:: bash
            :name: cb-pip-install

            pip install -U robusta-cli --no-cache
            robusta gen-config {{ gen_config_flags }}

    .. tab-item:: docker
        :name: docker-cli-tab

        Use the ``robusta`` cli tool to generate the Helm values. Run it via the pre-built docker container.

        .. details:: Requirements and Troubleshooting

            A Docker daemon and bash are required.

            On Windows, use bash inside `WSL <https://docs.microsoft.com/en-us/windows/wsl/install>`_.

        .. code-block:: bash
            :name: cb-docker-cli-download

            curl -fsSL -o robusta https://docs.robusta.dev/master/_static/robusta
            chmod +x robusta
            ./robusta gen-config {{ gen_config_flags }}

You should now have a ``generated_values.yaml`` file with a Robusta config. **Save this file!**
You'll need it to install Robusta on new clusters.

This file contains sensitive values. Refer to :ref:`Managing Secrets` for tips on protecting them.
