/*.wy-nav-content {
    max-width: 1000px !important;
}*/

.sidebar-search-container {
    width: 90%;
}

h2, h3 {
    border-bottom: 2px solid whitesmoke;
}

.sd-bg-light {
    background-color: #ebebeb !important;
}

.md-header__button.md-logo {
    flex-grow: 1;
}

.md-header__button.md-logo img {
    height: 32px !important;
}

.md-source__fact--version,
.md-source__fact--forks {
    display: none;
}

.md-source__fact:nth-child(1n+2):before {
    margin-left: 0 !important;
}

.md-tabs__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.md-tabs__community {
    display: block;
    max-width: 11.3rem;
    width: 11.7rem;
}

.md-tabs__community a {
    display: flex;
    align-items: center;
}

.md-tabs__community svg {
    width: 30px;
    fill: #fff;
}

.md-tabs__community span:nth-of-type(2) {
    display: block;
    margin-left: 5px;
    font-size: 16px;
}
