/*.wy-nav-content {
    max-width: 1000px !important;
}*/

.sidebar-search-container {
    width: 90%;
}

h2, h3 {
    border-bottom: 2px solid whitesmoke;
}

.sd-bg-light {
    background-color: #ebebeb !important;
}

.md-header__button.md-logo {
    flex-grow: 1;
}

.md-header__button.md-logo img {
    height: 32px !important;
}

.md-source__fact--version,
.md-source__fact--forks {
    display: none;
}

.md-source__fact:nth-child(1n+2):before {
    margin-left: 0 !important;
}

.md-tabs {
    background-color: var(--md-primary-fg-color--light);
}

.md-tabs__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.md-tabs__community {
    display: block;
    max-width: 11.3rem;
    width: 11.7rem;
    color: rgba(15, 26, 47, 0.5);
}

.md-tabs__community:hover {
    color: rgba(15, 26, 47, 1);
}

.md-tabs__community:hover svg {
    fill: rgba(15, 26, 47, 1);
}

.md-tabs__community a {
    display: flex;
    align-items: center;
}

.md-tabs__community svg {
    width: 30px;
    fill: rgba(15, 26, 47, 0.5);
}

.md-tabs__community span:nth-of-type(2) {
    display: block;
    margin-left: 5px;
    font-size: 16px;
}

.md-header {
    background-color: var(--md-primary-fg-color--light) !important;
}

.md-header__option {
    color: rgba(15, 26, 47, 0.5);
}

.md-header__option:hover {
    color: rgba(15, 26, 47, 1);
}

.md-source {
    color: rgba(15, 26, 47, 0.5);
}

.md-source:hover {
    color: rgba(15, 26, 47, 1);
}

.md-search__form {
    background-color: rgba(15, 26, 47, 0.5);
}

.md-search__form:hover {
    background-color: rgba(15, 26, 47, 1);
}

.md-tabs__link {
    color: rgba(15, 26, 47, 1);
    opacity: 0.5;
}

.md-tabs__link--active,
.md-tabs__link:focus,
.md-tabs__link:hover {
    color: rgba(15, 26, 47, 1);
    opacity: 1;
}

.md-typeset {
    color: var(--sd-color-black);
    font-size: 0.9rem;
}

.md-typeset a {
    font-weight: 600;
}

.md-typeset :-webkit-any(.admonition,details):-webkit-any(.warning,.caution,.attention),
.md-typeset :is(.admonition,details):is(.warning,.caution,.attention),
.md-typeset :-webkit-any(.admonition,details):-webkit-any(.tip,.hint,.important),
.md-typeset :is(.admonition,details):is(.tip,.hint,.important),
.md-typeset :-webkit-any(.admonition,details),
.md-typeset :is(.admonition,details) {
    border-color: #3A73ED;
}

.md-typeset :-webkit-any(.warning,.caution,.attention)>:-webkit-any(.admonition-title,summary),
.md-typeset :is(.warning,.caution,.attention)>:is(.admonition-title,summary),
.md-typeset :-webkit-any(.tip,.hint,.important)>:-webkit-any(.admonition-title,summary)
.md-typeset :is(.tip,.hint,.important)>:is(.admonition-title,summary),
.md-typeset :-webkit-any(.admonition-title,summary),
.md-typeset :is(.admonition-title,summary) {
    background: rgba(58, 115, 237, 0.2) !important;
}

.md-typeset :-webkit-any(.warning,.caution,.attention)>:-webkit-any(.admonition-title,summary):before,
.md-typeset :is(.warning,.caution,.attention)>:is(.admonition-title,summary):before,
.md-typeset :-webkit-any(.tip,.hint,.important)>:-webkit-any(.admonition-title,summary):before,
.md-typeset :is(.tip,.hint,.important)>:is(.admonition-title,summary):before,
.md-typeset :-webkit-any(.admonition-title,summary):before,
.md-typeset :is(.admonition-title,summary):before {
    background-color: #3A73ED;
}

.sd-card-body {
    color: #1E2941;
}

.sd-btn-outline-primary {
    border-color: var(--md-primary-fg-color) !important;
    background-color: var(--md-primary-fg-color) !important;
    color: var(--md-primary-bg-color) !important;
}

.sd-btn-outline-primary:active,
.sd-btn-outline-primary:focus,
.sd-btn-outline-primary:hover {
    border-color: var(--md-primary-fg-color) !important;
    background-color: transparent !important;
    color: var(--md-primary-fg-color) !important;
}

.md-content__inner.md-typeset .sd-btn {
    margin-top: 34px;
    padding: 22px 28px;
    font-size: 24px;
    font-weight: 800;
}

.sd-card {
    border: 3px solid var(--md-primary-fg-color) !important;
}

.sd-card.sd-bg-light {
    border: 3px solid var(--md-primary-fg-color--light) !important;
    background-color: var(--md-primary-fg-color--light) !important;
}

.sd-card:hover {
    background-color: var(--md-primary-fg-color) !important;
}

.sd-card:hover .sd-card-body {
    color: var(--md-primary-bg-color) !important;
}

.sd-card.sd-bg-light:hover {
    border: 3px solid var(--md-primary-fg-color) !important;
}

.sd-tab-set>input:checked + label {
    border-color: var(--md-primary-fg-color) !important;
    color: var(--md-primary-fg-color) !important;
}

.sd-tab-set>input:not(:checked)+label:hover {
    border-color: transparent !important;
    color: var(--md-primary-fg-color) !important;
}

.sd-card-title {
    margin-bottom: 0;
}

.sd-card-title + .sd-card-text {
    margin-top: 0.5rem;
}

.highlight code {
    color: var(--md-primary-fg-color);
}
