/*.wy-nav-content {
    max-width: 1000px !important;
}*/

.sidebar-search-container {
    width: 90%;
}

h2, h3 {
    border-bottom: 2px solid whitesmoke;
}

.sd-bg-light {
    background-color: #ebebeb !important;
}