name: Build & Deploy Robusta Docs

on:
  create: {}
  release:
    types: [published]
  push:
    paths:
      - 'docs/**'

env:
  PROJECT_ID: ${{ secrets.GKE_PROD_PROJECT }}
jobs:

  setup-build-publish-deploy:
    name: Deploy docs
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: google-github-actions/setup-gcloud@v0.2.0
      with:
        service_account_key: ${{ secrets.GKE_PROD_SA_KEY }}
        project_id: ${{ secrets.GKE_PROD_PROJECT }}
        export_default_credentials: true

    # Configure Docker to use the gcloud command-line tool as a credential helper for authentication
    - run: |-
        gcloud auth configure-docker us-central1-docker.pkg.dev

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r docs/requirements.txt

    # see https://stackoverflow.com/a/58034787/495995 for an explanation on ${GITHUB_REF##*/}
    - name: Determine DOCS_VERSION
      run: |
        echo ${GITHUB_REF##*/}
        echo "${GITHUB_REF##*/}"
        echo "${{GITHUB_REF##*/}}"
        echo '${GITHUB_REF##*/}'
        echo '${{GITHUB_REF##*/}}'

    - name: Update docs version ${GITHUB_REF##*/}
      run: |
        sed -i "s/DOCS_VERSION_PLACEHOLDER/${GITHUB_REF##*/}/g" docs/conf.py

    - name: Build the docs
      run: |
        cd docs
        make html

    - name: Upload docs to public gcp bucket
      run: gsutil rsync -R ./docs/_build/html gs://robusta-public/${GITHUB_REF##*/}/