name: Release Docker CLI image
on:
  - push
  - pull_request


env:
  PROJECT_ID: ${{ secrets.GKE_PROD_PROJECT }}
  RELEASE_VER : ${{ github.event.release.tag_name }}
jobs:

  setup-build-publish-deploy:
    name: Build images
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Get release version
      run: echo "$RELEASE_VER"

    - uses: google-github-actions/setup-gcloud@v0.2.0
      with:
        service_account_key: ${{ secrets.GKE_PROD_SA_KEY }}
        project_id: ${{ secrets.GKE_PROD_PROJECT }}
        export_default_credentials: true

    # Configure Docker to use the gcloud command-line tool as a credential helper for authentication
    - run: |-
        gcloud auth configure-docker us-central1-docker.pkg.dev

    - run: |-
        gcloud config get-value project

    - run: |-
        curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64
        chmod a+x skaffold

    # Set up the buildx to run build for multiple platforms
    - name: Set up QEMU
      uses: docker/setup-qemu-action@c5ffa2a61740d9877bd1f40899a87c8ec93b0d9f

    - name: Docker Setup Buildx
      uses: docker/setup-buildx-action@bea6a01aa40b4d58b0382d47e1c4a70137af67b1
      with:
        config-inline: |
          [worker.oci]
            enabled = true
            platforms = [ "linux/amd64", "linux/arm64" ]

    - name: Build with skaffold
      run: >
        docker buildx build
        --platform linux/arm64,linux/amd64 
        --tag $IMAGE 'us-central1-docker.pkg.dev/genuine-flight-317411/devel/robusta-cli:${{ github.event.pull_request.base.ref }}'
        --push 
        --file cli.Dockerfile
      




